@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;800;900&display=swap');

/* Shared style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
:root{
    --btn-color:rgba(224, 44, 109, 1);
    --text-color:rgba(58, 58, 58, 1);
    
}
.btn-primary{
    width: 140px;
    height: 40px;
    background-color: var(--btn-color);
    outline: none;
    border-radius: 30px;
    border: none;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    margin-top: 16px;
}
.btn-img{
    width: 15px;
    height: 15px;
    
}

/* Nav section style */

.nav-container{
    display: flex;
    justify-content: space-around;
    margin-top: 3.125rem;
    margin-left: -0.063rem;
}
.nav-img-1{
    width: 24px;
    height: 24px;
}
nav ul {
    display: flex;
    gap: 30px;
}
nav li{
    list-style: none;
    
    
}
nav a {
    text-decoration: none; 
    color: var(--text-color);  
}
.nav-title{
    color: var(--text-color);
}

.mobile-menubar {
    display: none;
}

/* Banner section styles */
.banner-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 120px;
    margin-right: 130px;
    margin-top: 50px;
}
.banner-details{
    margin-left: -6.563rem;
    color: var(--text-color);
}
.banner-title{
    margin-bottom: 16px;
    font-size: 52px;
}
.banner-image{
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-image img{
    width: 340px;
    height: 314px;
}
@media screen and (max-width:576px) {
    nav li, .nav-img-1 {
        display: none;
    }
    .mobile-menubar {
       display: block;
       
    }
    .mobile-menubar img{
        width: 24px;
       height: 24px;
    }
}
