@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;800;900&display=swap');

/* Shared style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
:root{
    --btn-color:rgba(224, 44, 109, 1);
    --text-color:rgba(58, 58, 58, 1);
    
}
.btn-primary{
    width: 140px;
    height: 40px;
    background-color: var(--btn-color);
    outline: none;
    border-radius: 30px;
    border: none;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    margin-top: 16px;
}
.btn-img{
    width: 15px;
    height: 15px;
    
}

/* Nav section style */

.nav-container{
    display: flex;
    justify-content: space-around;
    margin-top: 3.125rem;
    margin-left: -0.063rem;
}
.nav-img-1{
    width: 24px;
    height: 24px;
}
nav ul {
    display: flex;
    gap: 30px;
}
nav li{
    list-style: none;
    
    
}
nav a {
    text-decoration: none; 
    color: var(--text-color);  
}
.nav-title{
    color: var(--text-color);
}

.mobile-menubar {
    display: none;
}

/* Banner section styles */
.banner-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 120px;
    margin-right: 130px;
    margin-top: 50px;
}
.banner-details{
    margin-left: -6.563rem;
    color: var(--text-color);
}
.banner-title{
    margin-bottom: 16px;
    font-size: 52px;
}
.banner-image{
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-image img{
    width: 340px;
    height: 314px;
}

/* Sponsors section styles */
.sponsors-section{
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 100px;
    
    border-top: 1px solid #C0CCDA1A, #C0CCDA99, #C0CCDA1A;
    border-bottom: 1px solid #C0CCDA1A, #C0CCDA99, #C0CCDA1A;

}
.sponsors-img{
   display: grid;
   grid-template-columns: repeat(7, 1fr);
    
}
/* Collection section styles */
.collection-section{
     
    margin-top: 80px;
    margin-left: 130px;
    margin-right: 130px;
    text-align: center;
    
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    margin: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: left;
    
}

.card img{
   width: 97%;
   height: 250px; 
   margin-bottom: 8px;
   margin-left: 10px;
   
   
}
.card > h1, h4, span, p{
    margin-bottom: 10px;
    margin-left: 8px;
}
.card-btn{
    background-color: white;
    color: var(--btn-color);
    font-size: 18px;
    font-weight: 700;
    float: right;
}
.card-btn-img{
    color: var(--btn-color);
}



@media screen and (max-width:576px) {
    nav li, .nav-img-1 {
        display: none;
    }
    .mobile-menubar {
       display: block;
       
    }
    .mobile-menubar img{
        width: 24px;
       height: 24px;
    }

    /* Banner section styles */
    .banner-container{
        flex-direction: column-reverse;
        margin: 10px;
        
    }
    .banner-details{
        text-align: center;
        margin: 10px;
       
    }
    .banner-details button{
        display: inline;
        justify-content: center;
        
    }
    .banner-title{
        font-size: 28px;
    }

    /* Sponsors section styles */
   
    .sponsors-section{
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
    
    }
    .sponsors-img{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
         
     }
    /* Collection styles */
    .collection-section{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .card img{
       height: 300px;
       
    }
}
